{{#if result.topic.project_guid}}
    <div class='osf-search-parent-project'>
        {{#if view_only}}
            {{#link-to 'projects.show' result.topic.project_guid (query-params view_only=view_only) }}
                {{result.topic.project_name}}
            {{/link-to}}
        {{else}}
            {{#link-to 'projects.show' result.topic.project_guid }}
                {{result.topic.project_name}}
            {{/link-to}}
        {{/if}}
    </div>
{{/if}}
