{{#if this.model.topic.parent_guids.[0]}}
    <span class='osf-bold-parent-project'>
        {{#link-to 'projects.show' this.model.topic.parent_guids.[0]}}
            {{this.model.topic.parent_names.[0]}}
        {{/link-to}}
    </span>
{{/if}}
