.osf-project {
    display: inline-block;
}

.osf-parent-project {
    font-size: 0.75em;
}

.osf-project-show-heading {
    margin-bottom: 18px;
}

button.share.private, button.invite-topic {
    display: none;
}

/* Since we can't display project based category counts without extra computation
   it is better to just not display category topic counts at all
*/
.select2-drop .topic-count {
    display: none;
}
