.osf-project {
    display: inline-block;
}

.fps-result .fps-topic .search-category {
    padding-top: 0;
    line-height: 1em;
}

.osf-search-parent-project {
    padding-top: 3px;
}

.osf-topic-list-parent-project {
    font-size: 12px;
}

.osf-search-menu-parent-project a {
    padding: 0 !important;
    padding-bottom: 4px !important;
    background-color: inherit !important;
}

.osf-bold-parent-project {
    font-size: 17.5px;
    font-weight: bold;
}

.osf-project-show-heading {
    margin-top: 4px;
    margin-bottom: 18px;
}

.osf-alert {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #bce8f1;
    border-radius: 2px;
    color: #31708f;
    background-color: #d9edf7;
}

#topic-title {
    padding-top: 4px;
}

button.share.private, button.invite-topic {
    display: none;
}

/* Since we can't display project based category counts without extra computation
   it is better to just not display category topic counts at all
*/
.select2-drop .topic-count {
    display: none;
}
